.QuestOverlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.26s ease-in-out;
}
.QuestOverlayActive{
    opacity: 1;
    z-index: 1;
}
.QuestAnswer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.295);
    color: red;
}
.QuestDesc{
    font-size: 24px;
}
.QuestDescTrue{
    color: green !important;
}
