.QuestContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 43px);
    transition: 0.26s ease-in-out;
}
.Quest{
    position: relative;
    max-width: 600px;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.295);
    min-height: 620px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 50px;
    padding: 65px 50px;
    z-index: 1;
    background-color: #FFFFFF;
}

.QuestTitle{
    font-size: 32px;
    font-weight: 500;
    color: #5757ff;
}
.QuestForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}
.QuestLabel{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.QuestRadio{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;

}
.QuestBox{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.QuestAnsw{
    display: inline;
    font-size: 20px;
    font-weight: 500;
}
.QuestButton{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 60px;
    background-color: #5757ff;
    border-radius: 10px;
    align-self: center;
    margin-top: 20px;
}
@media (max-width: 565px) {
    .Quest{
        padding: 55px 20px;
    }
}
@media (max-width: 385px) {
    .QuestTitle{
        margin-bottom: 25px;
    }
}