@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Light.ttf') format('ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Regular.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Medium.ttf') format('ttf');
  font-weight: 500;
}
body {
  margin: 0;
  font-family: 'Rubik', 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
